<%- include ("partials/header.ejs") %>



<section class="container">
    <div class="dialog-box">
        <% if (locals.data){ %>
            <%if (data.type == "twopart") {%>
                <div>
                    <p><%= data.setup %></p>
                    <button id="question-button" class="question-button" onclick="revealAnswer()"> <%= actionButton %></button>
                    <p id="reveal-answer" class="remain-hidden"><%= data.delivery %></p>
        
                </div>
            <%} else if (data.type == "single"){ %>
                <div>
                    <p><%= data.joke %></p>
                </div>
            <% } else{} %>
        <% } else{%>
            <h2>Welcome to the JOKE-MACHINE!</h2>
            <br>
            <p>Leaving the fields blank will result in a Random Joke.*</p>
        <% } %>
    </div>

</section>

<%- include("partials/footer.ejs") %>
